stages:
  - setup
  - test

variables:
  RAILS_ENV: "test"
  BUNDLE_PATH: "vendor/bundle"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - vendor/bundle

setup_ruby:
  stage: setup
  image: ruby:3.1
  script:
    - ruby -v
    - gem install bundler
    - bundle install --jobs $(nproc) --retry 3
  artifacts:
    paths:
      - vendor/bundle

rspec_tests:
  stage: test
  image: ruby:3.1
  script:
    - gem install bundler
    - bundle install
    - bundle exec rails db:schema:load RAILS_ENV=test
    - bundle exec rspec --format documentation
  artifacts:
    when: always
    paths:
      - tmp/rspec-*.xml
      - coverage/
    reports:
      junit: tmp/rspec.xml
