version: '3.8'
services:
  redis:
    image: redis:7
  web:
    build: .
    command: bash -lc "bundle exec rails db:create db:migrate && bundle exec rails s -b 0.0.0.0"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - redis
  sidekiq:
    build: .
    command: bundle exec sidekiq
    volumes:
      - .:/app
    depends_on:
      - redis
